### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
pymoli_df = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_df = pd.read_csv(pymoli_df)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [7]:
Total_Players = pymoli_df.groupby("SN")["SN"].unique()
Total_Players.count()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
Unique_Items = pymoli_df.groupby("Item Name")["Item Name"].unique()
Unique_Items.count()

179

In [14]:
Avg_Price = pymoli_df["Price"].mean()
Avg_Price

3.050987179487176

In [15]:
Total_Purchases=len(pymoli_df)
Total_Purchases

780

In [16]:
Total_Revenue = pymoli_df["Price"].sum()
Total_Revenue

2379.77

In [17]:
Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items":[Unique_Items],
                                      "Average Price":[Avg_Price],
                                      "Number of Purchases":[Total_Purchases],
                                      "Total_Revenue":[Total_Revenue]})
Purchasing_Analysis_df

,Number of Unique Items,Average Price,Number of Purchases,Total_Revenue
0,Item Name Abyssal Shard ...,3.050987,780,2379.77

## Gender Demographics

In [28]:
Gender=pymoli_df.groupby(["SN", "Gender"])
Gender_Demo_df=pd.DataFrame(Gender.size())

Gender_Count_df=pd.DataFrame(Gender_Demo_df.groupby(["Gender"]).count())
Gender_Count_df.columns=["Total Count"]
Gender_Count_df["Percentage of Players"]=round(100*(Gender_Count_df["Total Count"]/Gender_Count_df["Total Count"].sum()),2)
Gender_Count_df=Gender_Count_df[["Percentage of Players", "Total Count"]]

Female_Count=Gender_Count_df["Total Count"].loc["Female"]

Male_Count=Gender_Count_df["Total Count"].loc["Male"]

Other_Count=Gender_Count_df["Total Count"].loc["Other / Non-Disclosed"]

Gender_Count_df

                       Percentage of Players  Total Count
Gender
Female                                 14.06           81
Male                                   84.03          484
Other / Non-Disclosed                   1.91           11

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
Male_Purchases = len(pymoli_df[pymoli_df["Gender"] == "Male"])
Male_Total = '${:,.2f}'.format(round(pymoli_df[pymoli_df["Gender"] == "Male"]["Price"].sum(),2))
Male_Avg = '${:,.2f}'.format(round(pymoli_df[pymoli_df["Gender"] == "Male"]["Price"].mean(),2))
Male_Tot = '${:,.2f}'.format(round(pymoli_df[pymoli_df["Gender"] == "Male"]["Price"].sum(),2)/Male_Count)

Female_Purchases = len(pymoli_df[pymoli_df["Gender"] == "Female"])
Female_Total = '${:,.2f}'.format(round(pymoli_df[pymoli_df["Gender"] == "Female"]["Price"].sum(),2))
Female_Avg = '${:,.2f}'.format(round(pymoli_df[pymoli_df["Gender"] == "Female"]["Price"].mean(),2))
Female_Tot = '${:,.2f}'.format(round(pymoli_df[pymoli_df["Gender"] == "Female"]["Price"].sum(),2)/Female_Count)

Other_Purchases = len(pymoli_df[pymoli_df["Gender"] == "Other / Non-Disclosed"])
Other_Total = '${:,.2f}'.format(round(pymoli_df[pymoli_df["Gender"] == "Other / Non-Disclosed"]["Price"].sum(),2))
Other_Avg = '${:,.2f}'.format(round(pymoli_df[pymoli_df["Gender"] == "Other / Non-Disclosed"]["Price"].mean(),2))
Other_Tot = '${:,.2f}'.format(round(pymoli_df[pymoli_df["Gender"] == "Other / Non-Disclosed"]["Price"].sum(),2)/Other_Count)

Gender_Purchase_Analysis_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],"Purchase Count":[Male_Purchases,Female_Purchases,Other_Purchases],"Average Purchase Price":[Male_Avg,Female_Avg,Other_Avg],"Total Purchase Value":[Male_Total,Female_Total,Other_Total],"Normalized Totals":[Male_Tot,Female_Tot,Other_Tot]},columns =["Gender","Purchase Count","Average Purchase Price","Total Purchase Value","Normalized Totals"])
Gender_Purchase_Analysis_df.set_index("Gender", inplace=True) 
Gender_Purchase_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [29]:
bins = [0, 9, 14, 19, 24,29,34,39,100]
group_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
pd.cut(pymoli_df["Age"], bins, labels=group_names)
pymoli_df["Age Group"] = pd.cut(pymoli_df["Age"], bins, labels=group_names)

Age_Demo_df = pymoli_df.groupby(["SN","Age Group"])                                                            
Pymoli_Unique_Players_df = pd.DataFrame(Age_Demo_df.size())

Age_Demo_df = pd.DataFrame(Pymoli_Unique_Players_df.groupby(["Age Group"]).count())
Age_Demo_df.columns= ["Total Count"]
Age_Demo_df["Percentage of Players"] =round(100 *Age_Demo_df["Total Count"]/Age_Demo_df["Total Count"].sum(),2)

Age_Demo_df

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
Purch_Analysis_df = pd.DataFrame(pymoli_df.groupby(["Age Group"]).count())
Purch_Age_Sum_df = pd.DataFrame(pymoli_df.groupby(["Age Group"]).sum())

Age_Demo_df["Purchase Count"] =  Purch_Age_Sum_df["Item ID"]
Age_Demo_df["Average Purchase Price"] = round(Purch_Age_Sum_df["Price"]/Age_Demo_df["Purchase Count"],2).map("${:,.2f}".format)
Age_Demo_df["Total Purchase Value"] = Purch_Age_Sum_df["Price"]

Age_Demo_df["Normalized Totals"] =  round(Age_Demo_df["Total Purchase Value"]/Age_Demo_df["Purchase Count"],2).map("${:,.2f}".format)

Age_Demo_df["Total Purchase Value"] = Age_Demo_df["Total Purchase Value"].map("${:,.2f}".format)

Age_Demo_df = Age_Demo_df.drop(labels = ["Purchase Count","Percentage of Players"],axis = 1)

Age_Demo_df

,Total Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
<10,17,$0.03,$77.13,$0.03
10-14,22,$0.03,$82.78,$0.03
15-19,107,$0.03,$412.89,$0.03
20-24,258,$0.03,"$1,114.06",$0.03
25-29,77,$0.03,$293.00,$0.03
30-34,52,$0.03,$214.00,$0.03
35-39,31,$0.04,$147.67,$0.04
40+,12,$0.03,$38.24,$0.03

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
Count_df=pd.DataFrame(pymoli_df.groupby(['SN']).count())
Count_Sum_df=pd.DataFrame(pymoli_df.groupby(['SN']).count())

Top_Spenders_df=Count_Sum_df
Top_Spenders_df=Top_Spenders_df.sort_values(by=["Price"], ascending=False)

Top_Spenders_df["Purchase Count"] = Count_df["Item ID"]
Top_Spenders_df["Average Purchase Price"] = round(Top_Spenders_df["Price"]/Top_Spenders_df["Purchase Count"],2).map("${:,.2f}".format)
Top_Spenders_df["Total Purchase Value"] = Top_Spenders_df["Price"].map("${:,.2f}".format)

Top_Spenders_df = Top_Spenders_df.drop(labels = ["Age","Item ID","Price","Gender","Item Name","Age Group","Purchase ID"],axis = 1)

Top_Spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $1.00                $5.00
Iral74                    4                  $1.00                $4.00
Idastidru52               4                  $1.00                $4.00
Asur53                    3                  $1.00                $3.00
Inguron55                 3                  $1.00                $3.00

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
Pop_Items_df = pd.DataFrame(pymoli_df.groupby(["Item ID","Item Name"]).count())

Pop_Items_Sum_df = pd.DataFrame(pymoli_df.groupby(["Item ID","Item Name"]).sum())

Pop_Items_df["Purchase Count"] = Pop_Items_df["Age"]
Pop_Items_df["Item Price"] = round(Pop_Items_Sum_df["Price"]/Pop_Items_df["Age"],2)
Pop_Items_df["Total Purchase Value"] = Pop_Items_Sum_df["Price"]


Pop_Items_df = Pop_Items_df.sort_values(by = ["Purchase Count","Total Purchase Value"],ascending = False)

Pymoli_Pop_Items_df = Pop_Items_df.drop(labels = ["Age","Age Group","Gender","Price","SN","Purchase ID"],axis = 1)

Pymoli_Pop_Items_df["Item Price"] = Pymoli_Pop_Items_df["Item Price"].map("${:,.2f}".format)
Pymoli_Pop_Items_df["Total Purchase Value"] = Pymoli_Pop_Items_df["Total Purchase Value"].map("${:,.2f}".format)


Pymoli_Pop_Items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
92,Final Critic,8,$4.88,$39.04

## Most Profitable Items

In [45]:
Pop_Items_df = Pop_Items_df.sort_values(by = ["Total Purchase Value"],ascending = False)

Pymoli_Prof_Items_df = Pop_Items_df.drop(labels = ["Age","Age Group","Gender","Price","SN"],axis = 1)

Pymoli_Prof_Items_df["Item Price"] = Pymoli_Prof_Items_df["Item Price"].map("${:,.2f}".format)
Pymoli_Prof_Items_df["Total Purchase Value"] = Pymoli_Prof_Items_df["Total Purchase Value"].map("${:,.2f}".format)

Pymoli_Prof_Items_df.head()

,,Purchase ID,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,12,$4.23,$50.76
82,Nirvana,9,9,$4.90,$44.10
145,Fiery Glass Crusader,9,9,$4.58,$41.22
92,Final Critic,8,8,$4.88,$39.04
103,Singed Scalpel,8,8,$4.35,$34.80

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame